.step1-container
  %header.step1-container__header
    %h1
      = link_to root_path do
        = image_tag("logo.svg")
    %nav.step1-container__header__nav
      %ol.step1-container__header__nav__ol
        %li.active.complete
          = "会員情報"
          .progress-status.middle
        %li.active.complete.midle-comp
          = "電話番号認証"
          .progress-status.middle
        %li.active.complete.midle-comp
          = "お届け先入力"
          .progress-status.middle
        %li.active.midle-comp
          = "支払い方法"
          .progress-status.middle
        %li.deactive
          = "完了"
          .progress-status
  %main.step1-container__main
    %section.step1-container__main__container
      = render 'shared/card_new'
  = render "shared/logo_footer"