.header
  .header__contents
    .header__contents__top
      .header__contents__top__logo
        = link_to image_tag("logo.svg"), root_path, class: "mercari-logo"
      -if @search_items == nil
        - @search_items = Item.order("created_at DESC").ransack(params[:q])
      = search_form_for @search_items,class: "header__contents__top__search" do |f| 
        = f.search_field :name_cont, url:root_path,class: "search-form", placeholder: "何かお探しですか？"
        %label.label
          = f.submit class: "submit"
          %i.search-icon

      //「カテゴリーから探す」「ブランドから探す」を部分テンプレート化
    .header__contents__bottom
      = render 'shared/dropdown'
          
      .header__contents__bottom__right2
        .header__contents__bottom__right2__signup
          = link_to step0_signups_path, class: "signup-btn" do
            新規会員登録
        .header__contents__bottom__right2__login
          = link_to login_path,class: "login" do
            ログイン 
