.header
  .header__contents
    .header__contents__top
      .header__contents__top__logo
        = link_to image_tag("logo.svg"), root_path, class: "mercari-logo"
      -if @search_items == nil
        - @search_items = Item.order("created_at DESC").ransack(params[:q])
      = search_form_for @search_items,class: "header__contents__top__search" do |f| 
        = f.search_field :name_cont, url:root_path,class: "search-form", placeholder: "何かお探しですか？"
        %label.label
          = f.submit class: "submit"
          %i.search-icon

    .header__contents__bottom
      .header__contents__bottom__left
        .header__contents__bottom__left__category
          = link_to "", class: "search-link" do
            %i.category-icon
            カテゴリーから探す
          //カテゴリー一覧のドロップダウンメニュー
          -# .category-dropdown
          -#   %ul
          -#     %li
        .header__contents__bottom__left__brand
          = link_to "", class: "search-link"  do
            %i.brand-icon
            ブランドから探す
          //ブランドー一覧のドロップダウンメニュー
          -# .brand-dropdown
          -#   %ul
          -#     %li

        //ユーザーログイン
      %ul.header__contents__bottom__right
        %li.header__contents__bottom__right__list
          = link_to "", class: "user-info" do
            %i.info-icon
            お知らせ
            %span.badge
            .info__dropdown
              %ul
                %li
        %li.header__contents__bottom__right__list
          = link_to "", class: "user-info" do
            %i.todo-icon
            やることリスト
            .todo__dropdown
              %ul
                %li
        %li.header__contents__bottom__right__list
          = link_to page_path(current_user), class: "user-info" do
            = image_tag "mypage-icon.png", class: "mypage-icon"
            マイページ
            .mypage__dropdown
              %ul
                %li