%ul.slick
  %li.slick-banners
    = image_tag 'top-banner.jpg', class: 'banner-image', height: '390', width: '100%'  
  %li.slick-banners
    = image_tag 'top-banner-camp.jpg', class: 'banner-image', height: '390', width: '100%'
  %li.slick-banners
    .slick-banners-main
      .slick-banners-main__left
        .slick-banners-main__left__text-top
          スマホでかんたん
          %br
          フリマアプリ
        .slick-banners-main__left__text-bottom
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .slick-banners-main__left__icon
          = image_tag 'app-store.svg', class: 'banner-icon'
          = image_tag 'google-play.svg', class: 'banner-icon2'
      .slick-banners-main__right
        = image_tag 'top-banner-main-device.png', class: 'banner-photo', height: '390', width: '440'
