.container
  -if user_signed_in?
    = render 'shared/header_mypage'
  -else
    = render 'shared/header'
  
  .main
    .main__contents

      .slider
        = link_to ""
        .slider__image

      .popular
        %h2.popular__title
          人気のカテゴリー
        .popular__list
          //タグを押すと非同期で移動
          %ul.popular__list__tag
            %li.popular__list__tag__name
              %a.tag-scroll
                レディース
            %li.popular__list__tag__name
              %a.tag-scroll
                メンズ
            %li.popular__list__tag__name
              %a.tag-scroll
                家電・スマホ・カメラ
            %li.popular__list__tag__name
              %a.tag-scroll
                おもちゃ・ホビー・グッズ

      .markets
        .markets__new
          %h3.markets__new__title
            新着アイテム
          = link_to "", class: "more-link" do
            もっと見る
        .markets__index
          .markets__index__item
          - @items.each do |item|
            = link_to items_path(item.id), class: "goods-link" do
              %figure.style-card
                .style-card__thumbnail
                  %span
                    = "￥#{item.price.to_s(:delimited, delimiter: ',')}"
                  = image_tag "", class: "goods-image"
                %figcaption
                  %span 
                    = item.name

      = render 'shared/sell-icon'

  .footer
    = render 'shared/footer'



- @parents.each do |parent|
  %h1= parent.name
  %h1= parent.id
  - parent.children.each do |child|
    %h2= child.name
    %h2= child.id
    - child.children.each do |baby|
      = baby.name