= render 'shared/header_mypage'
- breadcrumb :mypage
= render "shared/breadcrumbs"

%main.index-container
  .index-content
    %section.mypage-box
      = link_to root_path do
        %figure
          = image_tag "user_no-image.png", alt:"", size: "60x60"
        %h2.bold
          = @user.name
        .mypage-box__user-status
          %div
            評価 
            %span.bold
              0
          %div
            出品数 
            %span.bold
              0
    %section.mypage-tab-notice-todo
      %ul.mypage-tabs
        %li.active
          %h3
            = link_to "お知らせ", root_path
        %li
          %h3
            = link_to "やることリスト", root_path
      .tab-content
        %ul.mypage-item-list.tab-pane.active
          %li
            = link_to root_path, class: "mypage-item-link" do
              %figure
                =image_tag "mercari_mark.png"
              .mypage-item
                .mypage-item__text
                  【実は高く売れる！】遊び終わったゲームもバーコードで10秒出品♪
                %time
                  %i.icon-time
                  %span 3 時間前
              %i.icon-arrow-right
          %li
            = link_to root_path, class: "mypage-item-link" do
              %figure
                =image_tag "mercari_mark.png"
              .mypage-item
                .mypage-item__text
                  事務局から個別メッセージ「ログイン通知」
                %time
                  %i.icon-time
                  %span 14 時間前
              %i.icon-arrow-right
          %li
            = link_to root_path, class: "mypage-item-link" do
              %figure
                =image_tag "mercari_mark.png"
              .mypage-item
                .mypage-item__text
                  【P200が必ずもらえる】はじめての出品キャンペーン開催中！
                %time
                  %i.icon-time
                  %span 1 日前
              %i.icon-arrow-right
          %li
            = link_to root_path, class: "mypage-item-link" do
              %figure
                =image_tag "mercari_mark.png"
              .mypage-item
                .mypage-item__text
                  【最大500円分ポイントプレゼント♪】詳しくはこちら！
                %time
                  %i.icon-time
                  %span 2 日前
              %i.icon-arrow-right
          %li
            = link_to root_path, class: "mypage-item-link" do
              %figure
                =image_tag "mercari_mark.png"
              .mypage-item
                .mypage-item__text
                  【最大1000円分ポイントプレゼント！】詳しくはこちら♪
                %time
                  %i.icon-time
                  %span 3 日前
              %i.icon-arrow-right
          %li.mypage-item-list__go
            = link_to root_path do
              一覧を見る
        %ul#mypage-tab-todo.mypage-item-list.tab-pane
          %li
            = link_to root_path, class: "mypage-item-link" do
              %figure
                = image_tag "mercari_mark.png"
              .mypage-item
                .mypage-item__text
                  ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
                %time
                  %i.icon-time
                  %span 2 日前
              %i.icon-arrow-right
          %li.mypage-item-list__go
            = link_to root_path do
              一覧を見る


    %section.mypage-buy-box
      %h2.mypage-buy-box__title 購入した商品
      %ul.mypage-tabs
        %li.active
          %h3.current.tab1.tab_a{href:"#tab1"}
            = link_to root_path, {data: {toggle: "tab"}} do
              取引中
        %li
          %h3.tab2.tab_a{href:"#tab2"}
            = link_to root_path, {data: {toggle: "tab"}} do
              過去の取引
      .tab-content.tab1#tab1.tab_b
        -if @transaction_items != nil
          %ul.tab-content__list
            - @transaction_items.each do |item|
              %li.tab-content__list__li
                =link_to order_path(item.order.id) do
                  %figure
                    = image_tag("mercari_mark.png")
                  .tab-content__list__li__body
                    .tab-content__list__li__body__title
                      = "「#{item.name}」を購入しました。"
                      %span
                        ="発送までお待ちください"
                    .tab-content__list__li__body__state
                      ="発送待ち"
                    %i.icon-arrow-right
      .tab-content.tab2#tab2.tab_b
        -if @transacted_items  != nil
          %ul.tab-content__list
            - @transacted_items .each do |item|
              %li.tab-content__list__li
                =link_to order_path(item.order.id) do
                  %figure
                    = image_tag("mercari_mark.png")
                  .tab-content__list__li__body
                    .tab-content__list__li__body__title
                      = "「#{item.name}」を購入しました。"
                      %span
                        ="取引が完了しました。"
                    .tab-content__list__li__body__state
                      ="取引完了"
                    %i.icon-arrow-right
        -else
          %ul#mypage-tab-buy-now.mypage-item-list.tab-pane.active
            %li.mypage-item-not-found.bold 取引中の商品がありません
          %ul#mypage-tab-buy-old.mypage-item-list.tab-pane
            %li.mypage-item-not-found.bold 過去に取引した商品がありません
        -# ここまで部分テンプレート
  = render "shared/mypage_side"

.mypage-modal
  %aside.mypage-modal-box
  .mypage-modal-inner.modal-banner
    .mypage-modal-banner-eye-catch
      = image_tag "smart_phone.png"
      = image_tag "logo.svg"
    .mypage-modal-banner-body
      %h2 今すぐ無料ダウンロード！
      %p.bold 全ての機能を使えるスマホアプリはこちら！
      .mypage-modal-banner-app.clearfix
        = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8", target: "_blank", class: "pull-left" do
          = image_tag "app-store.svg"
        = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja", target: "_blank", class: "pull-left" do
          = image_tag "google-play.svg"
    %i.icon-close