.container
  .header
    = render 'shared/header'
  
  .main
    .main__contents

      .slider
        = link_to ""
        .slider__image

      .popular
        %h2.popular__title
          人気のカテゴリー
        .popular__list
          //タグを押すと非同期で移動
          %ul.popular__list__tag
            %li.popular__list__tag__name
              %a.tag-scroll
                レディース
            %li.popular__list__tag__name
              %a.tag-scroll
                メンズ
            %li.popular__list__tag__name
              %a.tag-scroll
                家電・スマホ・カメラ
            %li.popular__list__tag__name
              %a.tag-scroll
                おもちゃ・ホビー・グッズ

      .markets
        .markets__new
          %h3.markets__new__title
            新着アイテム
          = link_to "", class: "more-link" do
            もっと見る
        .markets__index
          .markets__index__item
            = link_to "", class: "goods-link" do
              %figure.style-card
                .style-card__thumbnail
                  %span
                    ￥5,000
                  = image_tag 'syouhin.jpg', class: "goods-image"
                %figcaption
                  %span 
                    キャノン ミラーレス一眼カメラ EOS M100 標準レンズキット

            = link_to "", class: "goods-link" do
              %figure.style-card
                .style-card__thumbnail
                  %span
                    ￥8,000
                  = image_tag 'syouhin2.jpg', class: "goods-image"
                %figcaption
                  %span 
                    カラーラ
      
      .sell-icon
        = link_to "", class: "sell-link" do
          .sell-icon__in
            .sell-icon__name
              出品
            .sell-icon__mark
              %i.camera

  .aside
    .aside__text__top
      スマホでかんたんフリマアプリ
    .aside__text__buttom
      今すぐ無料ダウンロード！
    = image_tag "mercari_icon.png"
    = image_tag "mercariappimage.png"
    = image_tag "download_app_bg.jpg"

  .footer
    = render 'shared/footer'
