.devise-login-container
  %header.devise-login-container__header
    %h1
      = link_to root_path do
        = image_tag("logo.svg")
  %main.devise-login-container__main
    .devise-login-container__main__container
      .devise-login-container__main__container__new
        %p= "アカウントお持ちでない方はこちら"
        = link_to "新規会員登録" ,step0_signups_path
      .devise-login-container__main__container__sns
        .devise-login-container__main__container__sns__facebook
          = link_to user_facebook_omniauth_authorize_path do
            = icon("fab","facebook-square")
            = "Facebookでログイン"
        .devise-login-container__main__container__sns__google
          = link_to user_google_oauth2_omniauth_authorize_path do
            = icon("fab","google")
            = "Googleでログイン"
      = form_for(resource, as: resource_name, url: session_path(resource_name),class:"devise-login-container__main__container__form") do |f|
        .devise-login-container__main__container__form__content
          .devise-login-container__main__container__form__content__group
            = f.email_field :email, autofocus: true, autocomplete: "email",class: "input-default",placeholder: "メールアドレス"
            %ul.error-text.error-mail
              %li= "メールアドレス を入力してください"
          .devise-login-container__main__container__form__content__group
            = f.password_field :password, autocomplete: "current-password",class: "input-default",placeholder: "パスワード"
            %ul.error-text.error-pass
              %li= "パスワード を入力してください"
          .devise-login-container__main__container__form__content__submit
            = f.submit "ログイン",class:"btn-default btn-red"
