= @item.name
= @item.price
= "配送先"
= @address.post_num
= @address.prefecture.name
= @address.city
= @address.street_num
= @address.building

%label 登録クレジットカード情報
%br
= "**** **** **** " + @default_card_information.last4
%br
- exp_month = @default_card_information.exp_month.to_s
- exp_year = @default_card_information.exp_year.to_s.slice(2,3)
= exp_month + " / " + exp_year

= link_to "購入",payments_path, method: :post 