.header
  = render "shared/header"
%section{class: "item-info-container"}
  %h1{class: "item-info-container__name"}
    = @item.name

  -#   - if user_signed_in?
  -#   else
  -# %p{class: "item-info-container__seller-info"}
  -#   『"SAMPLE_ITEM_NAME"』は"times"回の取引実績を持つ
  -#   %a{href: ""}SAMPLE_SELLER_NAME(to_page)
  -#   さんから出品されました。
  -#   %a{href: ""}最下カテゴリ/最上位
  -#   の商品で、"Address.city"から"？？"日で発送されます。

  .item-main-content
    .item-main-content__flex-wrapper
      .item-main-content__photo
        = image_tag "#{@item.images.first}",class: "item-photo"
      %table{class: "item-detail-table"}
        %tbody
          %tr
            %th 出品者
            %td 
              -# = @item.saler.name
          %tr
            %th カテゴリー
            %td 
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品のサイズ
            %td
              = @item.size
          %tr
            %th 商品の状態
            %td
              = @item.condition
          %tr
            %th 配送料の負担
            %td sample
          %tr
            %th 配送の方法
            %td
              = @item.postage
          %tr
            %th 配送元地域
            %td
              = @item.prefecture_id
          %tr
            %th 発送日の目安
            %td
              = @item.shipping_date
    .item-main-content__price
      %span{class: "item-main-content__price__item-price"}
        = "￥#{@item.price.to_s(:delimited, delimiter: ',')}"
      %span{class: "item-main-content__price__tax"}
        (税込)
      %span{class: "item-main-content__price__shipping-fee"}
        送料込み

//購入画面に進む
//= link_to new_payment_path