.header
  -if user_signed_in?
    = render 'shared/header_mypage'
  -else
    = render 'shared/header'
%section.item-info-container
  %h1.item-info-container__name
    = @item.name

  -if user_signed_in?
  -else
    %p.item-info-container__seller-info
      = "『#{@item.name}』は{@user.rating.count}回の取引実績を持つ#{@item.saler.name}さんから出品されました。"
      %br
      = "#{@item.category.name}/#{@item.category.parent.parent.name}の商品で、#{Address.find(@item.saler_id).city}から#{@item.shipping_date}日で発送されます。"

  .item-main-content
    .item-main-content__photo
      - if @item.buyer_id != nil
        .item__sold-flag
          .item__sold-flag__text
            SOLD

      .item-main-content__photo__slick
        .item-main-content__photo__slick__thumbnail
          = image_tag @item.images.first, class: "item-first"
          - if @item.images.attached?
            - @item.images.each do |image|
              .item-main-content__photo__slick__thumbnail__dot
                .item-main-content__photo__slick__thumbnail__dot__inner
                  = image_tag image, class: "item-thumbnail"

    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "" do
              = @item.saler.name
              //評価の表示を入れる
        %tr
          %th カテゴリー
          %td
            = link_to "" do
              = @item.category.parent.parent.name
            %br
            = link_to "" do
              %i.chevron-right
              = @item.category.parent.name
            %br
            = link_to "" do
              %i.chevron-right
              = @item.category.name
        %tr
          %th ブランド
          %td 
        -if @item.size
          //商品サイズがあるときのみ表示させる
          %tr
            %th 商品のサイズ
            %td
              = @item.size
        %tr
          %th 商品の状態
          %td
            = @item.condition
        %tr
          %th 配送料の負担
          %td 
            = @item.postage.parent.name
        %tr
          %th 配送の方法
          %td
            = @item.postage.name
        %tr
          %th 配送元地域
          %td
            = link_to "" do
              = Address.find(@item.saler_id).city
        %tr
          %th 発送日の目安
          %td
            = @item.shipping_date
  .item-main-content__price
    %span.item-main-content__price__item-price
      = "￥#{@item.price.to_s(:delimited, delimiter: ',')}"
    %span.item-main-content__price__tax
      (税込)
    %span.item-main-content__price__shipping-fee
      = @item.postage.parent.name.delete("(購入者負担)").delete("出品")
  
  - if @item.buyer_id != nil
    .item-sold-btn
      売り切れました
    .nice-clearfix
      .nice-clearfix__btn-left
        = link_to nices_path(item_id:@item.id),method: :post, remote: true,class: "nice-clearfix__btn-left__nice" do
          - if current_user.nices.where(item_id: @item.id).length != 0
            %i.icon-heart-border-on.nice-btn
          -else
            %i.icon-heart-border.nice-btn
          %span.text= "いいね！"
          %span.nice-num= "1"
  - else
    .item-buy-btn
      = link_to new_payment_path(item_id: @item.id) do
        購入画面に進む


    .item-main-content__description
      %p.item-main-content__description__item-description
        = simple_format(@item.introduct)
    .nice-clearfix
      .nice-clearfix__btn-left
        = link_to nices_path(item_id:@item.id),method: :post, remote: true,class: "nice-clearfix__btn-left__nice" do
          - if current_user.nices.where(item_id: @item.id).length != 0
            %i.icon-heart-border-on.nice-btn
          -else
            %i.icon-heart-border.nice-btn
          %span.text= "いいね！"
          %span.nice-num= "1"



        
.message-container
  .message-content
    %ul.messages
      %li.messages__message.clearfix
        %a.messages__message__user{href: "/"}
          %figure
            %div
              %img
            %figcaption.bold
              user
        .messages__message__body
          .message__body__text
            tetetetetetetetetextああああああテキス
          .message__body__icons
            = icon 'far', 'clock'
            1日前
  .message-content
    = form_with url: '/', local: true, class: "message-form" do |form|
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      =form.text_area :text ,class: "message-form__field"
      =form.button type: "submit", class: "message-form__submit-btn" 

= render 'shared/footer'
